.random-words {
  li {
    display: block;
    position: absolute;
    background: $light-teal;
    padding: .5em 1em;
    font-size: 2em;
    list-style: none;

    &:before {
      content: '' !important;
    }

    &:nth-child(1) {
      top: 430px;
      left: 390px;
      transform: rotate(-3.49315deg);
    }
    &:nth-child(2) {
      top: 110px;
      left: 770px;
      transform: rotate(5.84033deg);
    }
    &:nth-child(3) {
      top: 10px;
      left: 450px;
      transform: rotate(-18.27126deg);
    }
    &:nth-child(4) {
      top: 170px;
      left: 430px;
      transform: rotate(11.29552deg);
    }
    &:nth-child(5) {
      top: 30px;
      left: 360px;
      transform: rotate(-0.21419deg);
    }
    &:nth-child(6) {
      top: 480px;
      left: 300px;
      transform: rotate(15.53125deg);
    }
    &:nth-child(7) {
      top: 570px;
      left: 70px;
      transform: rotate(-2.51771deg);
    }
    &:nth-child(8) {
      top: 110px;
      left: 20px;
      transform: rotate(5.98483deg);
    }
    &:nth-child(9) {
      top: 340px;
      left: 800px;
      transform: rotate(-5.57351deg);
    }
    &:nth-child(10) {
      top: 190px;
      left: 170px;
      transform: rotate(7.59398deg);
    }
    &:nth-child(11) {
      top: 130px;
      left: 170px;
      transform: rotate(-8.17459deg);
    }
    &:nth-child(12) {
      top: 10px;
      left: 210px;
      transform: rotate(19.725deg);
    }
    &:nth-child(13) {
      top: 290px;
      left: 460px;
      transform: rotate(-17.45194deg);
    }
    &:nth-child(14) {
      top: 470px;
      left: 32px;
      transform: rotate(10.81075deg);
    }
    &:nth-child(15) {
      top: 300px;
      left: 390px;
      transform: rotate(-8.88043deg);
    }
    &:nth-child(16) {
      top: 20px;
      left: 840px;
      transform: rotate(0.07614deg);
    }
    &:nth-child(17) {
      top: 310px;
      left: 70px;
      transform: rotate(-12.56599deg);
    }
    &:nth-child(18) {
      top: 450px;
      left: 670px;
      transform: rotate(19.98264deg);
    }
    &:nth-child(19) {
      top: 80px;
      left: 510px;
      transform: rotate(-17.45369deg);
    }
    &:nth-child(20) {
      top: 180px;
      left: 450px;
      transform: rotate(14.83171deg);
    }
    &:nth-child(21) {
      top: 290px;
      left: 510px;
      transform: rotate(-10.23398deg);
    }
    &:nth-child(22) {
      top: 100px;
      left: 60px;
      transform: rotate(17.5267deg);
    }
    &:nth-child(23) {
      top: 300px;
      left: 220px;
      transform: rotate(-6.45899deg);
    }
    &:nth-child(24) {
      top: 80px;
      left: 350px;
      transform: rotate(11.61342deg);
    }
    &:nth-child(25) {
      top: 450px;
      left: 720px;
      transform: rotate(-19.39248deg);
    }
    &:nth-child(26) {
      top: 320px;
      left: 160px;
      transform: rotate(10.30223deg);
    }
    &:nth-child(27) {
      top: 500px;
      left: 720px;
      transform: rotate(-4.09086deg);
    }
    &:nth-child(28) {
      top: 20px;
      left: 60px;
      transform: rotate(13.88459deg);
    }
    &:nth-child(29) {
      top: 570px;
      left: 40px;
      transform: rotate(-6.0389deg);
    }
    &:nth-child(30) {
      top: 490px;
      left: 770px;
      transform: rotate(1.77169deg);
    }
  }
}

// .random-words {
//   li {
//     display: block;
//     position: absolute;
//     font-size: 2.5em;
//     background: lavender;
//     padding: .5em 1em;

//   $li-num: 30;
//     @for $i from 1 through $li-num {
//       &:nth-child(#{$i}){
//         top: random(60)+0px;
//         left: random(60)+0px;

//         @if ($i%2 == 0) { //even ones are positive rotation
//           transform: rotate((random()*20)+deg);
//         }

//         @else { //odd are negative rotation
//           transform: rotate((random()*-20)+deg);
//         }
//       }
//     }
//   }
// }


