//Vars
$type--header: 'Magnel', 'Abril Fatface', serif;
$type--paragraph: 'Nexa Thin', 'Arial' , sans-serif;

//Colors
$purple: #1695A3;
$light-teal: #ACF0F2;
$teal: #1695A3;
$navy: #263248;
$dark-grey: #383d3b;
$black: #1f1f15;
$white: #fff;
$light-grey: #ccc;
$orange: #FF9800;
$black: #000000;

$background-color: #fff;
