//Vars
$type--header: 'Magnel', 'Abril Fatface', serif;
$type--paragraph: 'Nexa Thin', 'Arial' , sans-serif;

//Colors
$purple: #1695A3;
$light-teal: #9bf3f0;
$teal: #00A9A5;
$dark-grey: #383d3b;
$black: #1f1f15;
$white: #fff;
$light-grey: #ccc;
$orange: #EB7F03;

$background-color: #fff;
